.social {
	&__link {
		display: inline-block;
		width: 48px;
		height: 48px;
		border-radius: 99px;
		background-size: 32px 32px;
		background-position: center center;
		background-repeat: no-repeat;
		text-indent: -9999px;
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			opacity: .6;
		}

		&--facebook {
			background-color: #3a5ba0;
			background-image: url(../images/facebook.svg);
		}
		&--twitter {
			background-color: #2ca7e0;
			background-image: url(../images/twitter.svg);
		}
		&--pinterest {
			background-color: #c9151c;
			background-image: url(../images/pinterest.svg);
		}
		&--instagram {
			background: url(../images/instagram.svg) no-repeat center center / 32px 32px, radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) no-repeat center center / cover;
		}
		&--linkedin {
			background-color: #0e76a8;
			background-image: url(../images/linkedin.svg);
		}
		&--youtube {
			background-color: #E02F2F;
			background-image: url(../images/youtube.svg);
		}
		&--tiktok {
			background-color: #000;
			background-image: url(../images/tiktok.svg);
		}
		&--email {
			background-color: #000;
			background-image: url(../images/email.svg);
		}
	}
}