.social__link {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 99px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-right: 5px;
}
.social__link:last-child {
  margin-right: 0;
}
.social__link:hover {
  opacity: .6;
}
.social__link--facebook {
  background-color: #3a5ba0;
  background-image: url(../images/facebook.svg);
}
.social__link--twitter {
  background-color: #2ca7e0;
  background-image: url(../images/twitter.svg);
}
.social__link--pinterest {
  background-color: #c9151c;
  background-image: url(../images/pinterest.svg);
}
.social__link--instagram {
  background: url(../images/instagram.svg) no-repeat center center/32px 32px, -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%) no-repeat center center/cover;
  background: url(../images/instagram.svg) no-repeat center center/32px 32px, radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%) no-repeat center center/cover;
}
.social__link--linkedin {
  background-color: #0e76a8;
  background-image: url(../images/linkedin.svg);
}
.social__link--youtube {
  background-color: #E02F2F;
  background-image: url(../images/youtube.svg);
}
.social__link--tiktok {
  background-color: #000;
  background-image: url(../images/tiktok.svg);
}
.social__link--email {
  background-color: #000;
  background-image: url(../images/email.svg);
}
